
.toc {
  margin: 40px 0;
}

.toc__container__nav li  {
  padding: 3px;
} 

.toc__container__nav li:hover {
  background-color: #f8f8f8;
  color: #000000;
  padding: 3px;
  border-radius: 0.5rem;
  cursor: pointer;
} 

.toc__container__nav li:active {
  background-color: #6a6a6a;
  color: #000000;
  text-decoration: none;
  user-select: none;
  padding: 3px;
  border-radius: 0.5rem;
}

.article__content_box {
  background-color: #3a3a3a;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem 0;
}

.article__header, .section__header {
  margin: 1rem 0;
}