.nav__item {
  padding: 0.5rem;
  margin: 0.25rem;
  border-radius: 0.5rem;
  transition: background-color 1.2s cubic-bezier(0.5, 0.2, 0.5, 1);
}

.nav__item:hover {
  background-color: #f8f8f8;
  color: #000000;
  cursor: pointer;
}